<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Eliminar Venta</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- SweetAlert CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.css">
	<!-- Custom CSS for personalized styles -->
	<style>
		/* Estilo adicional si es necesario */
		body {
			padding: 20px;
		}

		h1 {
			margin-bottom: 20px;
		}

		form {
			margin-bottom: 20px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 8px;
			text-align: left;
			border: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		/* Estilos para la barra de navegación */
		.navbar {
			background-color: #007bff;
			/* Color azul */
		}

		.navbar-brand {
			color: #fff;
			/* Texto blanco */
			font-weight: bold;
		}

		.nav-item .nav-link {
			color: #fff !important;
			/* Texto blanco */
		}

		.dropdown-menu {
			background-color: #007bff;
			/* Fondo azul */
		}

		.dropdown-item {
			color: #fff !important;
			/* Texto blanco */
		}

		.dropdown-item:hover {
			background-color: #0056b3;
			/* Color de fondo al pasar el mouse */
		}

		/* Estilos generales */
		body {
			padding-top: 60px;
			/* Ajuste para la barra de navegación fija */
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="/index">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Registros
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
						<a class="dropdown-item" href="agregarCliente">Cliente</a> <!-- Llamar al servlet -->
						<a class="dropdown-item" href="eliminarVenta">Venta</a>
						<a class="dropdown-item" href="Categoria/RegistroCategoria.html">Categoría</a>
						<a class="dropdown-item" href="Producto/RegistroProducto.html">Producto</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						CRUD
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
						<a class="dropdown-item" href="buscarCliente">Cliente</a>
						<a class="dropdown-item" href="VentaCRUD.jsp">Venta</a>
						<a class="dropdown-item" href="CategoriaCRUD.jsp">Categoría</a>
						<a class="dropdown-item" href="ProductoCRUD.jsp">Producto</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Consulta y Reporte
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
						<a class="dropdown-item" href="consultarCliente">Cliente</a>
						<a class="dropdown-item" href="consultarVenta">Venta</a>
						<a class="dropdown-item" href="consultarCategoria">Categoría</a>
						<a class="dropdown-item" href="consultarProducto">Producto</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#" onclick="confirmarSalir()">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1 class="mt-4">Venta - Eliminar</h1>
		<a href="buscarVenta" class="btn btn-secondary mb-3">Retornar a la búsqueda de ventas</a>
		<hr>
		<form id="eliminarVentaForm" method="post" action="eliminarVenta">
			<table class="table table-bordered">
				<tr>
					<td><label for="txtId">CÓDIGO</label></td>
					<td><input type="text" id="txtId" class="form-control" name="txtId" th:value="${venta.id_venta}"
							readonly></td>
				</tr>
				<tr>
					<td><label for="txtIdProducto"> Producto</label></td>
					<td><input type="text" id="txtIdProducto" class="form-control" name="txtIdProducto"
							th:value="${venta.getProducto().getDescripcion()}" disabled></td>
				</tr>
				<tr>
					<td><label for="txtIdCliente">Cliente</label></td>
					<td><input type="text" id="txtIdCliente" class="form-control" name="txtIdCliente"
							th:value="${venta.getCliente().getNombre()}" disabled></td>
				</tr>
				<tr>
					<td><label for="txtFecha">Fecha</label></td>
					<td><input type="text" id="txtFecha" class="form-control" name="txtFecha" th:value="${venta.fecha}"
							disabled></td>
				</tr>
				<tr>
					<td><a href="buscarVenta" class="btn btn-secondary">Retornar</a></td>
					<td><input type="submit" class="btn btn-danger" value="Eliminar"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- SweetAlert Library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.js"></script>
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
	// Función para mostrar SweetAlert y confirmar la eliminación
	document.getElementById('eliminarVentaForm').addEventListener('submit', function (event) {
		event.preventDefault(); // Prevenir el envío del formulario por defecto

		Swal.fire({
			title: '¿Estás seguro?',
			text: "¡No podrás revertir esto!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Sí, eliminarlo!'
		}).then((result) => {
			if (result.isConfirmed) {
				// Si se confirma la eliminación, enviar el formulario
				Swal.fire(
					'Eliminado!',
					'La venta ha sido eliminada correctamente.',
					'success'
				);
				setTimeout(() => {
					this.submit();
				}, 1500); // Espera 1.5 segundos antes de enviar el formulario
			}
		});
	});
</script>
<script>
	function confirmarSalir() {
		Swal.fire({
			title: '¿Estás seguro?',
			text: "¿Deseas salir de la sesión?",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Sí, salir',
			cancelButtonText: 'Cancelar'
		}).then((result) => {
			if (result.isConfirmed) {
				// Aquí redirige a la página de cierre de sesión o realiza la acción correspondiente
				window.location.href = 'iniciar-sesion'; // Redirige a la página de inicio de sesión
			}
		});
	}
</script>
</script>

</html>