<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Eliminar Producto</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- SweetAlert CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.css">
	<!-- Custom CSS for personalized styles -->
	<style>
		/* Estilo adicional si es necesario */
		body {
			padding: 20px;
		}

		h1 {
			margin-bottom: 20px;
		}

		form {
			margin-bottom: 20px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 8px;
			text-align: left;
			border: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		/* Estilos para la barra de navegación */
		.navbar {
			background-color: #007bff;
			/* Color azul */
		}

		.navbar-brand {
			color: #fff;
			/* Texto blanco */
			font-weight: bold;
		}

		.nav-item .nav-link {
			color: #fff !important;
			/* Texto blanco */
		}

		.dropdown-menu {
			background-color: #007bff;
			/* Fondo azul */
		}

		.dropdown-item {
			color: #fff !important;
			/* Texto blanco */
		}

		.dropdown-item:hover {
			background-color: #0056b3;
			/* Color de fondo al pasar el mouse */
		}

		/* Estilos generales */
		body {
			padding-top: 60px;
			/* Ajuste para la barra de navegación fija */
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" href="/index">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Registros
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
						<a class="dropdown-item" href="agregarCliente">Cliente</a>
						<a class="dropdown-item" href="agregarVenta">Venta</a>
						<a class="dropdown-item" href="agregarCategoria">Categoría</a>
						<a class="dropdown-item" href="agregarProducto">Producto</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						CRUD
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
						<a class="dropdown-item" href="buscarCliente">Cliente</a>
						<a class="dropdown-item" href="buscarVenta">Venta</a>
						<a class="dropdown-item" href="buscarCategoria">Categoría</a>
						<a class="dropdown-item" href="buscarProducto">Producto</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Consulta y Reporte
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
						<a class="dropdown-item" href="consultarCliente">Cliente</a>
						<a class="dropdown-item" href="consultarVenta">Venta</a>
						<a class="dropdown-item" href="consultarCategoria">Categoría</a>
						<a class="dropdown-item" href="consultarProducto">Producto</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" onclick="confirmarSalir()">Salir</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Contenido principal -->
	<div class="container">
		<h1 class="mt-4">Producto - Eliminar</h1>
		<hr>
		<form id="eliminarProductoForm">
			<table class="table table-bordered">
				<tr>
					<td><label for="txtId">ID</label></td>
					<td><input type="text" id="txtId" class="form-control" name="txtId"
							th:value="${producto.id_producto}" readonly></td>
				</tr>
				<tr>
					<td><label for="txtCodigo">Código Inventario</label></td>
					<td><input type="text" id="txtCodigo" class="form-control" name="txtCodigo"
							th:value="${producto.codigo_inventario}" disabled></td>
				</tr>
				<tr>
					<td><label for="txtDescripcion">Descripción</label></td>
					<td><input type="text" id="txtDescripcion" class="form-control" name="txtDescripcion"
							th:value="${producto.descripcion}" disabled></td>
				</tr>
				<tr>
					<td><label for="txtPrecio">Precio</label></td>
					<td><input type="text" id="txtPrecio" class="form-control" name="txtPrecio"
							th:value="${producto.precio}" disabled></td>
				</tr>
				<tr>
					<td><label for="txtStock">Stock</label></td>
					<td><input type="text" id="txtStock" class="form-control" name="txtStock"
							th:value="${producto.stock}" disabled></td>
				</tr>
			</table>
			<button type="button" class="btn btn-danger" id="btnEliminar">Eliminar Cliente</button>
			<a href="buscarProducto" class="btn btn-danger ml-2">Regresar</a>

		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<!-- SweetAlert Library -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.js"></script>
	<!-- jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		document.getElementById('btnEliminar').addEventListener('click', function (event) {
			event.preventDefault(); // Prevenir la acción por defecto del formulario
			Swal.fire({
				title: '¿Está seguro?',
				text: '¿Desea eliminar este Producto?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sí, eliminar!',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.isConfirmed) {
					// Obtener el ID del producto
					const id = document.getElementById('txtId').value;

					// Enviar una solicitud POST al servidor para eliminar el producto
					fetch('/eliminarProducto?id=' + id, {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						}
					})
						.then(response => response.json())
						.then(data => {
							if (data.exito) {
								Swal.fire({
									icon: 'success',
									title: 'Producto eliminado',
									text: 'El producto se ha eliminado correctamente.',
									onClose: () => {
										window.location.href = "buscarProducto"; // Redirigir a la página de índice
									}
								});
							} else {
								Swal.fire({
									icon: 'error',
									title: 'No se puede eliminar',
									text: data.mensaje,
									confirmButtonText: 'Entendido'
								});
							}
						})
						.catch(error => {
							Swal.fire({
								icon: 'error',
								title: 'Error',
								text: 'Hubo un problema al intentar eliminar el producto.',
								confirmButtonText: 'Entendido'
							});
						});
				}
			});
		});
	</script>
	<script>
		function confirmarSalir() {
			Swal.fire({
				title: '¿Estás seguro?',
				text: "¿Deseas salir de la sesión?",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sí, salir',
				cancelButtonText: 'Cancelar'
			}).then((result) => {
				if (result.isConfirmed) {
					// Aquí redirige a la página de cierre de sesión o realiza la acción correspondiente
					window.location.href = 'iniciar-sesion'; // Redirige a la página de inicio de sesión
				}
			});
		}
	</script>
</body>

</html>