<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Productos</h1>
		<a href="agregarProducto" class="btn btn-primary mb-3">Agregar nuevo producto</a>
		<a href="." class="btn btn-danger mb-3">Regresar</a>

        <hr>
        
        <!-- Formulario de búsqueda -->
        <form method="post" action="buscarProducto">
            <div class="form-group row">
                <label for="filtro" class="col-sm-2 col-form-label">Filtrar por:</label>
                <div class="col-sm-4">
					<select class="form-control" id="filtro" name="filtro">
					    <option value="descripcion" th:selected="${filtro == 'descripcion'}">Descripción</option>
					    <option value="categoria" th:selected="${filtro == 'categoria'}">Categoría</option>
					</select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtBuscar" name="txtBuscar" th:value="${descripcionBuscada}" placeholder="Ingrese término de búsqueda" required>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
        
        <!-- Tabla de productos -->
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteración sobre la lista de productos -->
                <tr th:each="producto : ${listaProductos}">
                    <td th:text="${producto.getId_producto()}"></td>
                    <td th:text="${producto.getDescripcion()}"></td>
                    <td th:text="${producto.getPrecio()}"></td>
                    <td th:text="${producto.getStock()}"></td>
                    <td th:text="${producto.getCategoria().getNombre()}"></td>
                    <td><a th:href="${'editarProducto?id='+producto.id_producto}">Editar</a></td>
                    <td><a th:href="${'eliminarProducto?id='+producto.id_producto}">Eliminar</a></td>
                </tr>
                <!-- Mensaje si no se encontraron productos -->
                <tr th:if="${#lists.isEmpty(listaProductos)}">
                    <td colspan="7" class="text-center">No se encontraron productos</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
