<!DOCTYPE html>
<html lang="es-PE" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Clientes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Cliente - Editar</h1>
        <a href="buscarCliente" class="btn btn-secondary mb-3">Retornar a la búsqueda de clientes</a>
        <hr>
        <form method="post" action="editarCliente">
            <table class="table table-bordered">
                <tr>
                    <td><label for="txtId">CODIGO</label></td>
                    <td><input type="text" id="txtId" class="form-control" name="txtId" th:value="${cliente.id_cliente}" readonly></td>
                </tr>
                <tr>
                    <td><label for="txtNombre">NOMBRE</label></td>
                    <td><input type="text" id="txtNombre" class="form-control" name="txtNombre" th:value="${cliente.nombre}"></td>
                </tr>
                <tr>
                    <td><label for="txtNum_ruc">NUMERO RUC</label></td>
                    <td><input type="text" id="txtNum_ruc" class="form-control" name="txtNum_ruc" th:value="${cliente.num_ruc}"></td>
                </tr>
                <tr>
                    <td><label for="txtDireccion">DIRECCION</label></td>
                    <td><input type="text" id="txtDireccion" class="form-control" name="txtDireccion" th:value="${cliente.direccion}"></td>
                </tr>
                <tr>
                    <td><label for="txtTelefono">TELEFONO</label></td>
                    <td><input type="text" id="txtTelefono" class="form-control" name="txtTelefono" th:value="${cliente.telefono}"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-primary" value="Guardar"></td>
                </tr>
            </table>
        </form>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
